* { font-family: 'Spoqa Han Sans', helvetica, sans-serif; }

html{
}

body {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 202px 4fr;
  grid-template-rows: 30% 30% 30% 10%;
  grid-gap: 50px;
}

.grid .contents {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid .contents-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  margin-top:30px;
  margin-left:50px;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.6;

}

.grid .drawing-contents .drawings {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;

  margin-top: 10px;
}

.drawings a {
  width: 30%;
}

.drawing-whole {
  max-width:100%;
  height:auto;
}

.drawing-image {
  display: block;
  margin:auto;
  max-width:auto;
  height: 80vh;
}

.drawing-text {
  text-align: center;
  margin-bottom: 40px;
}

.drawing-text a {
  text-decoration: none;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.6;
  color: black;
}

.drawing-text a:link {
  text-decoration: none;
  color: black;
}

.drawing-text a:visited {
  text-decoration: none;
  color: black;
}

.drawing-text a:hover, a:active {
  text-decoration: none;
  color: #18C29C;
}

.grid .sidebar {
  /*border: 1px solid black;*/
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.sidebar {
  font-size: 0.9em;
}

.sidebar ul {
  list-style-type: none;
  margin-left: 0;
}

.sidebar li {
  text-decoration: none;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar a:link {
  text-decoration: none;
  color: black;
}

.sidebar a:visited {
  text-decoration: none;
  color: black;
}

.sidebar a:hover, a:active {
  text-decoration: none;
  color: #18C29C;
}

.section1 {
  padding-bottom: 20px;
}

.section2, .section3, .section4, .section5 {
  padding: 20px 0;
}

 .section6 {
   padding-top: 60px;
 }

.section4 li{
  padding: 4px 0px;
}

footer {
  clear: both;
}
