body {
  background-color: grey;
  text-align: center;
}

h1 {
  color : white;
}

ul {
  width: 100%;
  list-style-type: none;
  background-color: black;
  padding : 10px;
}

.page {
  background-color: grey;
}

li {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: black;
  display : inline;
}

li>a {
  color : white;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
  text-decoration: none;
}

iframe {
  width:900px;
  height:506px;
}
