body {
  background-color: grey;
  text-align: center;
}

h1 {
  color : white;
}

p {
  color: white;
  font-size: 0.8em;
  padding: 10px;
}

nav {
  background-color: black;
}

a {
  text-decoration: none;
}

#art {
  margin: 0;
  padding: 0;
  border: 0;
  float : right;
}

ul {
  width: 100%;
  padding:10px;
  list-style-type: none;
}


li {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: black;
  display : inline;
}

li {
  color : white;
}

li:hover {
  /*padding:10px;*/
  background-color: grey;
  text-decoration: none;
}

iframe {
  float: left;
  border: none;
  padding: 10px;
  width:50%;
  height:506px;
}

footer {
  clear: both;
}
